body {
    background: #0e1621;
    color: white;
    font-family: Arial;
    text-align: center;
}

.card {
    background: #17212b;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

button {
    padding: 10px;
    width: 100%;
    background: #2a9df4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
